.table {
    margin-top: 20px;
    overflow: scroll;
    overflow-x: hidden;
    color: #6a5d5d;
    background-color: white;
    height: 400px;
  }
  
  .table .table__row {
    display: flex;
    justify-content: space-between;
  }
  
  .table .table__col {
    padding: 0.5rem;
    border: none;
  }
  
  .table .table__row:nth-of-type(odd) {
    background-color: #f3f2f8;
  }